<section class="gallery">
    <h1 class="title visually-hidden">Movie Gallery</h1>
    <div class="container">
        <div class="advice-block">
            <p class="advice-blocktext">
                Repudiandae, debitis facere dignissimos omnis sit, aspernatur.
            </p>
            <div class="advice-listwrap">
                <button type="button" class="advice-listnav-btn advice-listnav-btn--left">
                    <svg class="advice-listsvg" width="30" height="30">
                        <use href="./images/icons.svg#icon-undo-left"></use>
                    </svg>
                </button>
                <ul class="advice-list"></ul>
                <button type="button" class="advice-listnav-btn advice-listnav-btn--right">
                    <svg class="advice-listsvg" width="30" height="30">
                        <use href="./images/icons.svg#icon-redo-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        
        <ul class="gallery-list">


        </ul>
    </div>
</section>