<!-- Повинна бути така ссилка на home
<!-- <a href="./index.html">HOME</a> -->
<!-- <div class="library-header">
    <div class="header_container">
        <a href="" class="header__logo link logo-span--color-dark"><svg class="header_logo-icon" width="24px"
                height="24px">
                <use href="./images/icons.svg#icon-film"></use>

            </svg>Filmoteka</a>
        <nav class="header__navigation">
            <ul class="header-list list">
                <li class="header-list__item">
                    <a href="./index.html" class="header-list__link link ">Home</a>
                </li>
                <li class="header-list__item">
                    <a href="./library.html" class="header-list__link link current">My library</a>
                </li>
            </ul>
        </nav>
    </div> -->