<div class="backdrop-team is-hidden">
  <div class="modal-team">
    <div class="modal__header">
      <button type="button" class="modal__close-btn">
        <svg class="modal__close-svg" width="30" height="30">
          <use href="./images/icons.svg#icon-arrow-left-2"></use>
        </svg>
      </button>
      <div class="modal__team-tittle">
        <p class="modal__tittle">bat code team</p>
        <p class="modal__time">last seen 8 minutes ago</p>
      </div>
      <div class="modal__img-thumb">
        <img src="./images/logo.png" alt="our team" class="modal__team-img" />
      </div>
    </div>
    <ul class="team-list">
      <li class="team-list__item">
        <div class="team-list__img-thumb">
          <img
            src="./images/team/andrii.png"
            alt="Andrii"
            class="team-list__member-img"
          />
        </div>
        <div class="team-list__message team-list__message--send">
          <p class="team-list__member-name">Андрій Краснонос</p>
          <div class="team-list__message-content">
            <ul class="team-list__socials">
              <li class="team-list__social-item">
                <a href="https://www.facebook.com" class="team-list__link"
                  ><svg class="team-list__link-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-facebook"></use></svg
                ></a>
              </li>
              <li class="team-list__social-item">
                <a href="https://www.linkedin.com" class="team-list__link"
                  ><svg class="team-list__link-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use></svg
                ></a>
              </li>
            </ul>
            <p class="team-list__message-time team-list__message-time--row">
              11:16
            </p>
          </div>
        </div>
      </li>
      <li class="team-list__item">
        <div class="team-list__img-thumb">
          <img
            src="./images/team/anna.png"
            alt="Anna"
            class="team-list__member-img"
          />
        </div>
        <div class="team-list__message team-list__message--recive">
          <p class="team-list__member-name">Анна Лєшка</p>
          <div
            class="team-list__message-content team-list__message-content--reverse"
          >
            <ul class="team-list__socials">
              <li class="team-list__social-item">
                <a href="https://www.facebook.com" class="team-list__link"
                  ><svg class="team-list__link-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-facebook"></use></svg
                ></a>
              </li>
              <li class="team-list__social-item">
                <a href="https://www.linkedin.com" class="team-list__link"
                  ><svg class="team-list__link-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use></svg
                ></a>
              </li>
            </ul>
            <p class="team-list__message-time team-list__message-time--reverse">
              11:22
            </p>
          </div>
        </div>
      </li>
      <li class="team-list__item">
        <div class="team-list__img-thumb">
          <img
            src="./images/team/anton.png"
            alt="Anton"
            class="team-list__member-img"
          />
        </div>
        <div class="team-list__message team-list__message--send">
          <p class="team-list__member-name">Антон</p>
          <div class="team-list__message-content">
            <ul class="team-list__socials">
              <li class="team-list__social-item">
                <a href="https://www.facebook.com" class="team-list__link"
                  ><svg class="team-list__link-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-facebook"></use></svg
                ></a>
              </li>
              <li class="team-list__social-item">
                <a href="https://www.linkedin.com" class="team-list__link"
                  ><svg class="team-list__link-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use></svg
                ></a>
              </li>
            </ul>
            <p class="team-list__message-time team-list__message-time--row">
              11:25
            </p>
          </div>
        </div>
      </li>
      <li class="team-list__item">
        <div class="team-list__img-thumb">
          <img
            src="./images/team/dmitro.png"
            alt="Dmitro"
            class="team-list__member-img"
          />
        </div>
        <div class="team-list__message team-list__message--recive">
          <p class="team-list__member-name">Дмитро Шарлевич</p>
          <div
            class="team-list__message-content team-list__message-content--reverse"
          >
            <ul class="team-list__socials">
              <li class="team-list__social-item">
                <a href="https://www.facebook.com" class="team-list__link"
                  ><svg class="team-list__link-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-facebook"></use></svg
                ></a>
              </li>
              <li class="team-list__social-item">
                <a href="https://www.linkedin.com" class="team-list__link"
                  ><svg class="team-list__link-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use></svg
                ></a>
              </li>
            </ul>
            <p class="team-list__message-time team-list__message-time--reverse">
              11:31
            </p>
          </div>
        </div>
      </li>
      <li class="team-list__item">
        <div class="team-list__img-thumb">
          <img
            src="./images/team/kostya.png"
            alt="Kostya"
            class="team-list__member-img"
          />
        </div>
        <div class="team-list__message team-list__message--send">
          <p class="team-list__member-name">Костя</p>
          <div class="team-list__message-content">
            <ul class="team-list__socials">
              <li class="team-list__social-item">
                <a href="https://www.facebook.com" class="team-list__link"
                  ><svg class="team-list__link-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-facebook"></use></svg
                ></a>
              </li>
              <li class="team-list__social-item">
                <a href="https://www.linkedin.com" class="team-list__link"
                  ><svg class="team-list__link-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use></svg
                ></a>
              </li>
            </ul>
            <p class="team-list__message-time team-list__message-time--row">
              11:37
            </p>
          </div>
        </div>
      </li>
      <li class="team-list__item">
        <div class="team-list__img-thumb">
          <img
            src="./images/team/olga.png"
            alt="olga"
            class="team-list__member-img"
          />
        </div>
        <div class="team-list__message team-list__message--recive">
          <p class="team-list__member-name">Ольга Бездетко</p>
          <div
            class="team-list__message-content team-list__message-content--reverse"
          >
            <ul class="team-list__socials">
              <li class="team-list__social-item">
                <a href="https://www.facebook.com" class="team-list__link"
                  ><svg class="team-list__link-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-facebook"></use></svg
                ></a>
              </li>
              <li class="team-list__social-item">
                <a href="https://www.linkedin.com" class="team-list__link"
                  ><svg class="team-list__link-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use></svg
                ></a>
              </li>
            </ul>
            <p class="team-list__message-time team-list__message-time--reverse">
              11:38
            </p>
          </div>
        </div>
      </li>
      <li class="team-list__item">
        <div class="team-list__img-thumb">
          <img
            src="./images/team/orest.png"
            alt="Orest"
            class="team-list__member-img"
          />
        </div>
        <div class="team-list__message team-list__message--send">
          <p class="team-list__member-name">Орест Бригілевич</p>
          <div class="team-list__message-content">
            <ul class="team-list__socials">
              <li class="team-list__social-item">
                <a href="https://www.facebook.com" class="team-list__link"
                  ><svg class="team-list__link-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-facebook"></use></svg
                ></a>
              </li>
              <li class="team-list__social-item">
                <a href="https://www.linkedin.com" class="team-list__link"
                  ><svg class="team-list__link-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use></svg
                ></a>
              </li>
            </ul>
            <p class="team-list__message-time team-list__message-time--row">
              11:43
            </p>
          </div>
        </div>
      </li>
      <li class="team-list__item">
        <div class="team-list__img-thumb">
          <img
            src="./images/team/maryana.png"
            alt="Maryana"
            class="team-list__member-img"
          />
        </div>
        <div class="team-list__message team-list__message--recive">
          <p class="team-list__member-name">Мар'яна Левицька</p>
          <div
            class="team-list__message-content team-list__message-content--reverse"
          >
            <ul class="team-list__socials">
              <li class="team-list__social-item">
                <a href="https://www.facebook.com" class="team-list__link"
                  ><svg class="team-list__link-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-facebook"></use></svg
                ></a>
              </li>
              <li class="team-list__social-item">
                <a href="https://www.linkedin.com" class="team-list__link"
                  ><svg class="team-list__link-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use></svg
                ></a>
              </li>
            </ul>
            <p class="team-list__message-time team-list__message-time--reverse">
              11:51
            </p>
          </div>
        </div>
      </li>
      <li class="team-list__item">
        <div class="team-list__img-thumb">
          <img
            src="./images/team/volodimir.png"
            alt="Volodimir"
            class="team-list__member-img"
          />
        </div>
        <div class="team-list__message team-list__message--send">
          <p class="team-list__member-name">Володимир</p>
          <div class="team-list__message-content">
            <ul class="team-list__socials">
              <li class="team-list__social-item">
                <a href="https://www.facebook.com" class="team-list__link"
                  ><svg class="team-list__link-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-facebook"></use></svg
                ></a>
              </li>
              <li class="team-list__social-item">
                <a href="https://www.linkedin.com" class="team-list__link"
                  ><svg class="team-list__link-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use></svg
                ></a>
              </li>
            </ul>
            <p class="team-list__message-time team-list__message-time--row">
              11:53
            </p>
          </div>
        </div>
      </li>
      <li class="team-list__item">
        <div class="team-list__img-thumb">
          <img
            src="./images/team/michailo.png"
            alt="michailo"
            class="team-list__member-img"
          />
        </div>
        <div class="team-list__message team-list__message--recive">
          <p class="team-list__member-name">Михайло Сорокін</p>
          <div
            class="team-list__message-content team-list__message-content--reverse"
          >
            <ul class="team-list__socials">
              <li class="team-list__social-item">
                <a href="https://www.facebook.com" class="team-list__link"
                  ><svg class="team-list__link-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-facebook"></use></svg
                ></a>
              </li>
              <li class="team-list__social-item">
                <a href="https://www.linkedin.com" class="team-list__link"
                  ><svg class="team-list__link-svg" width="28" height="28">
                    <use href="./images/icons.svg#icon-linkedin"></use></svg
                ></a>
              </li>
            </ul>
            <p class="team-list__message-time team-list__message-time--reverse">
              11:57
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
